.card-panel {
    margin: 25px auto;
    grid-area: main;
    border-radius: 10px;
    background-color: maroon;
}

.panelTitle {
    width: 100%;
    color: black;
    margin: 7px;
}

.panelCards {
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardRow {
    display: flex;
    flex-direction: row;
    width: 100%;
}