.card-panel {
    margin: 25px auto;
    grid-area: main;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panelCards {
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardRow {
    display: flex;
    flex-direction: row;
    width: 100%;
}